@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-md-12">

        <h3 class="card-title text-primary">Users</h3>

        <table class="table" id="userTable">
            <thead>
                <tr class="text-left">
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
